*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Onest, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #1a1a1a;
  background-color: #ebecf1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  flex-shrink: 0;
  max-height: 100%;
}

button {
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
p,
figure {
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.ts-dropdown,
.ts-control,
.ts-control input {
  padding: 10px 16px 8px;
  font-size: 18px;
  line-height: 1.5;
  color: #1a1a1a;
  background-color: #fff;
  border: none;
  border-radius: 8px;
}

.dropdown-active .ts-control {
  border-radius: 8px;
}

.ts-wrapper.single .ts-control {
  background-image: none;
}

.ts-wrapper.single .ts-control::after {
  border-color: #1a1a1a transparent transparent transparent;
}

.ts-wrapper.single.dropdown-active .ts-control::after {
  border-color: transparent transparent #1a1a1a transparent;
}
