.booking {
  display: flex;
  justify-content: center;
}

.booking__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
}

.booking__title {
  margin: 0 0 50px;
  font-size: 46px;
  font-weight: 800;
}

@media (max-width: 1024px) {
  .booking__title {
    margin: 0 0 40px;
    font-size: 32px;
  }
}

@media (max-width: 680px) {
  .booking__container {
    padding: 30px 16px 40px;
  }

  .booking__title {
    margin: 0 0 32px;
    font-size: 24px;
  }
}
