.notification {
  position: fixed;
  right: 5vw;
  bottom: 5vh;
  padding: 20px 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
  border-radius: 16px;
  background-color: #777;
  z-index: 1;
  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
}

.notification--show {
  opacity: 1;
  transform: translateX(0);
}

.notification--success {
  padding-right: 76px;
  background-color: #00992b;
  background-image: url("../img/icon-check.svg");
  background-position: right 32px center;
  background-size: 36px;
  background-repeat: no-repeat;
}

.notification--error {
  background-color: #900;
}
